body{
    background-color:cornsilk;
}
p{
    background-color: darkblue;
}
label{
    color: burlywood; !important;
}
#password{
    color: crimson !important;
}
.sure{
    color: darkgreen !important;
    
}
